In [9]:
from tabula import read_pdf
from tabulate import tabulate
import camelot.io as camelot
import os
import pandas as pd
import numpy as np
import PyPDF2

In [10]:
# Finding all file names in a folder 2020
file_names = []
for i in os.listdir('2020'):
    # print(i)
    if(i!='failed colleges'):
        file_names.append(i)
file_names

['IR-O-C-16604.pdf',
 'IR-O-C-37013.pdf',
 'IR-O-I-1074.pdf',
 'IR-O-I-1075.pdf',
 'IR-O-I-1110.pdf',
 'IR-O-I-1357.pdf',
 'IR-O-I-1361.pdf',
 'IR-O-I-1441.pdf',
 'IR-O-I-1480.pdf',
 'IR-O-I-1486.pdf',
 'IR-O-N-10.pdf',
 'IR-O-N-17.pdf',
 'IR-O-U-0006.pdf',
 'IR-O-U-0013.pdf',
 'IR-O-U-0020.pdf',
 'IR-O-U-0025.pdf',
 'IR-O-U-0027.pdf',
 'IR-O-U-0037.pdf',
 'IR-O-U-0042.pdf',
 'IR-O-U-0052.pdf',
 'IR-O-U-0053.pdf',
 'IR-O-U-0055.pdf',
 'IR-O-U-0056.pdf',
 'IR-O-U-0064.pdf',
 'IR-O-U-0078.pdf',
 'IR-O-U-0098.pdf',
 'IR-O-U-0107.pdf',
 'IR-O-U-0108.pdf',
 'IR-O-U-0109.pdf',
 'IR-O-U-0120.pdf',
 'IR-O-U-0136.pdf',
 'IR-O-U-0139.pdf',
 'IR-O-U-0184.pdf',
 'IR-O-U-0195.pdf',
 'IR-O-U-0196.pdf',
 'IR-O-U-0202.pdf',
 'IR-O-U-0205.pdf',
 'IR-O-U-0220.pdf',
 'IR-O-U-0222.pdf',
 'IR-O-U-0234.pdf',
 'IR-O-U-0235.pdf',
 'IR-O-U-0237.pdf',
 'IR-O-U-0251.pdf',
 'IR-O-U-0253.pdf',
 'IR-O-U-0254.pdf',
 'IR-O-U-0260.pdf',
 'IR-O-U-0262.pdf',
 'IR-O-U-0272.pdf',
 'IR-O-U-0273.pdf',
 'IR-O-U-0295.pdf',
 'IR-O-U-0304.pdf',
 'IR-O-U-0305.pdf',
 'IR-O-U-0306.pdf',
 'IR-O-U-0308.pdf',
 'IR-O-U-0318.pdf',
 'IR-O-U-0323.pdf',
 'IR-O-U-0329.pdf',
 'IR-O-U-0331.pdf',
 'IR-O-U-0341.pdf',
 'IR-O-U-0345.pdf',
 'IR-O-U-0355.pdf',
 'IR-O-U-0356.pdf',
 'IR-O-U-0357.pdf',
 'IR-O-U-0363.pdf',
 'IR-O-U-0369.pdf',
 'IR-O-U-0376.pdf',
 'IR-O-U-0377.pdf',
 'IR-O-U-0378.pdf',
 'IR-O-U-0379.pdf',
 'IR-O-U-0389.pdf',
 'IR-O-U-0391.pdf',
 'IR-O-U-0410.pdf',
 'IR-O-U-0435.pdf',
 'IR-O-U-0436.pdf',
 'IR-O-U-0439.pdf',
 'IR-O-U-0446.pdf',
 'IR-O-U-0447.pdf',
 'IR-O-U-0448.pdf',
 'IR-O-U-0456.pdf',
 'IR-O-U-0463.pdf',
 'IR-O-U-0467.pdf',
 'IR-O-U-0473.pdf',
 'IR-O-U-0474.pdf',
 'IR-O-U-0476.pdf',
 'IR-O-U-0490.pdf',
 'IR-O-U-0496.pdf',
 'IR-O-U-0497.pdf',
 'IR-O-U-0500.pdf',
 'IR-O-U-0523.pdf',
 'IR-O-U-0530.pdf',
 'IR-O-U-0560.pdf',
 'IR-O-U-0570.pdf',
 'IR-O-U-0572.pdf',
 'IR-O-U-0573.pdf',
 'IR-O-U-0575.pdf',
 'IR-O-U-0577.pdf',
 'IR-O-U-0584.pdf',
 'IR-O-U-0589.pdf',
 'IR-O-U-0642.pdf',
 'IR-O-U-0701.pdf']

In [11]:
## Dataframe containing placement data of all colleges
final = pd.DataFrame()
failed_colleges = [] #whose placement data has different shape than others

In [12]:
k = 0
for file in file_names:
    abc = camelot.read_pdf('2020/'+file, pages="all",flavor='lattice',line_scale=30) # file loation
    # line_space = 30 , this argument helps to read single row tables also. greater the value, higher the chances of detecting smaller tables.
    pdf_file = open('2020/'+file, 'rb')
    read_pdf = PyPDF2.PdfFileReader(pdf_file)
    number_of_pages = read_pdf.getNumPages()
    page = read_pdf.getPage(0)
    page_content = page.extractText()
    text=page_content.split('Name:')
    text = text[1].split('[')[0]
    print(text)
    name = text
    k = k+1
    df = []
    i = 0
    while(i<len(abc)):
        df1 = abc[i].df
            
        if(i==len(abc)-1):
            df.append(df1)
            break
        df2 = abc[i+1].df
        # merging conditions for placement tables
        condition = df1.loc[df1.shape[0]-1][0]=='Academic Year'
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2013-14') and (df2.loc[0][0]=='2014-15') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2014-15') and (df2.loc[0][0]=='2015-16') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2015-16') and (df2.loc[0][0]=='2016-17') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2016-17') and (df2.loc[0][0]=='2017-18') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2017-18') and (df2.loc[0][0]=='2018-19') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2018-19') and (df2.loc[0][0]=='2019-20') )
        
        if (condition):
            x = pd.DataFrame(np.vstack((np.array(df1),np.array(df2))))

            df.append(x)
            i = i+2
        else:
            df.append(df1)
            i =i+1
    x = df[1].copy()
    x.columns = x.loc[0]
    x = x[1:]
    x
    p = []
    for i in range(x.shape[0]):
        programme = x.iloc[i]['(All programs\nof all years)']
        p.append(programme)

    for i in p:
        p_name = i
        j = 2
        y = df[j].copy()
        y.columns = y.loc[0]
        j = j+1
        y = y[1:]
        y['Program_name'] = p_name
        y['Institute'] = name
        try:
            final = final.append(y, ignore_index=True)
        except:
            failed_colleges.append(name+p_name)

 Sri Sivasubramaniya Nadar College of Engineering
 PSG College of Technology
 Indian Institute of Technology Delhi
 Indian Institute of Technology Kanpur
 Dr. D. Y. Patil Vidyapeeth
 University of Madras
 Bharati Vidyapeeth
 Saveetha Institute of Medical and Technical Sciences
 Thapar Institute of Engineering & Technology
 Sri Ramachandra Institute of Higher Education And Research
 SVKM`s Narsee Monjee Institute of Management Studies
 Sawai Man Singh Medical College
 Andhra University
 Indian Institute of Technology Hyderabad
 Koneru Lakshmaiah Education Foundation University
 National Institute of Technology Warangal
 Osmania University
 Sri Venkateswara University
 University of Hyderabad
 Gauhati University
 Indian Institute of Technology Guwahati
 National Institute of Technology Silchar
 Tezpur University
 Indian Institute of Technology Patna
 Panjab University
 Delhi Technological University
 Jamia Hamdard
 Jamia Millia Islamia
 Jawaharlal Nehru University
 University of Delhi
 Gujarat University
 Indian Institute of Technology Gandhinagar
 Indian Institute of Technology Mandi
 University of Jammu
 University of Kashmir
 Birla Institute of Technology
 Indian Institute of Technology (Indian School of Mines)
 Indian Institute of Science
 JSS Academy of Higher Education and Research
 Manipal Academy of Higher Education
 Mysore University
 National Institute of Technology Karnataka
 Calicut University
 Cochin University of Science and Technology
 Indian Institute of Science Education & Research Thiruvananthapuram
 Kerala University
 Mahatma Gandhi University
 Indian Institute of Science Education & Research Bhopal
 Indian Institute of Technology Indore
 Datta Meghe Institute of Medical Sciences
 Homi Bhabha National Institute
 Indian Institute of Science Education & Research Pune
 Indian Institute of Technology Bombay
 Institute of Chemical Technology
 Mumbai University
 Savitribai Phule Pune University
 Symbiosis International
 Tata Institute of Social Sciences
 North Eastern Hill University
 Mizoram University
 Indian Institute of Technology Bhubaneswar
 Kalinga Institute of Industrial Technology
 National Institute of Technology Rourkela
 Siksha `O` Anusandhan
 Pondicherry University
 Guru Nanak Dev University
 Indian Institute of Science Education & Research Mohali
 Indian Institute of Technology Ropar
 Lovely Professional University
 Banasthali Vidyapith
 Birla Institute of Technology & Science
 Malaviya National Institute of Technology
 Alagappa University
 Amrita Vishwa Vidyapeetham
 Anna University
 Bharath Institute of Higher Education & Research
 Bharathiar University
 Bharathidasan University
 Indian Institute of Technology Madras
 Madurai Kamaraj University
 National Institute of Technology Tiruchirappalli
 S. R. M. Institute of Science and Technology
 Sathyabama Institute of Science and Technology
 Shanmugha Arts Science Technology & Research Academy
 Vellore Institute of Technology
 Aligarh Muslim University
 Amity University Noida
 Banaras Hindu University
 King George`s Medical University
 Motilal Nehru National Institute of Technology
 Indian Institute of Technology Roorkee
 Calcutta University
 Indian Institute of Science Education & Research Kolkata
 Indian Institute of Technology Kharagpur
 Jadavpur University
 National Institute of Technology Durgapur
 Indian Institute of Engineering Science and Technology
 Visva Bharati
 Shiv Nadar University
 Indian Institute of Technology (BHU) Varanasi

In [13]:
final

,Academic Year,No. of first year\nstudents intake in the\nyear,No. of first year\nstudents admitted in\nthe year,Academic Year,No. of students\nadmitted through\nLateral entry,Academic Year,No. of students\ngraduating in\nminimum stipulated\ntime,No. of students\nplaced,Median salary of\nplaced\ngraduates(Amount in\nRs.),No. of students\nselected for Higher\nStudies,Program_name,Institute
0,2013-14,819,783,2014-15,125,2016-17,835,638,350000(Three lakh fifty\nthousand only),156,UG [4 Years\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineer...
1,2014-15,819,829,2015-16,101,2017-18,800,633,400000(Four lakh),120,UG [4 Years\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineer...
2,2015-16,819,826,2016-17,101,2018-19,787,642,440000(Four lakh forty\nthousand),123,UG [4 Years\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineer...
3,2013-14,819,783,2014-15,125,2016-17,835,638,350000(Three lakh fifty\nthousand only),156,PG [2 Year\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineer...
4,2014-15,819,829,2015-16,101,2017-18,800,633,400000(Four lakh),120,PG [2 Year\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineer...
...,...,...,...,...,...,...,...,...,...,...,...,...
1231,2014-15,815,706,2015-16,0,2017-18,654,589,1100000(Rupees\nEleven Lakh Only),41,UG [5 Years\nProgram(s)],Indian Institute of Technology (BHU) Varanasi
1232,2015-16,815,757,2016-17,0,2018-19,754,699,1360000(Rupees\nThirteen Lakh Sixty\nThousand ...,35,UG [5 Years\nProgram(s)],Indian Institute of Technology (BHU) Varanasi
1233,2013-14,815,715,2014-15,0,2016-17,702,659,1000000(Rupees Ten\nLakh Only),43,PG [2 Year\nProgram(s)],Indian Institute of Technology (BHU) Varanasi
1234,2014-15,815,706,2015-16,0,2017-18,654,589,1100000(Rupees\nEleven Lakh Only),41,PG [2 Year\nProgram(s)],Indian Institute of Technology (BHU) Varanasi
1235,2015-16,815,757,2016-17,0,2018-19,754,699,1360000(Rupees\nThirteen Lakh Sixty\nThousand ...,35,PG [2 Year\nProgram(s)],Indian Institute of Technology (BHU) Varanasi

In [14]:
failed_colleges

[' University of Madras PG [2 Year\nProgram(s)]',
 ' University of Madras PG [3 Year\nProgram(s)]',
 ' University of Hyderabad PG [2 Year\nProgram(s)]',
 ' University of Hyderabad PG [3 Year\nProgram(s)]',
 ' University of Hyderabad PG-Integrated',
 ' Gujarat University PG [2 Year\nProgram(s)]',
 ' Kerala University PG [1 Year\nProgram(s)]',
 ' Kerala University PG [2 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG [1 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG [2 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG [3 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG-Integrated',
 ' Madurai Kamaraj University PG [2 Year\nProgram(s)]',
 ' Madurai Kamaraj University PG [3 Year\nProgram(s)]',
 ' Madurai Kamaraj University PG-Integrated']

In [15]:
final.to_csv('./Outputs/placement2020.csv', index=False)

In [16]:
failed_colleges

[' University of Madras PG [2 Year\nProgram(s)]',
 ' University of Madras PG [3 Year\nProgram(s)]',
 ' University of Hyderabad PG [2 Year\nProgram(s)]',
 ' University of Hyderabad PG [3 Year\nProgram(s)]',
 ' University of Hyderabad PG-Integrated',
 ' Gujarat University PG [2 Year\nProgram(s)]',
 ' Kerala University PG [1 Year\nProgram(s)]',
 ' Kerala University PG [2 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG [1 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG [2 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG [3 Year\nProgram(s)]',
 ' Homi Bhabha National Institute PG-Integrated',
 ' Madurai Kamaraj University PG [2 Year\nProgram(s)]',
 ' Madurai Kamaraj University PG [3 Year\nProgram(s)]',
 ' Madurai Kamaraj University PG-Integrated']

# Managing failed colleges, whose dataframe has different shape

In [17]:
# Finding all file names in a folder
file_names = []
for i in os.listdir(r'2020/failed colleges'):
    # print(i)
    file_names.append(i)
file_names

['IR-O-I-1357.pdf',
 'IR-O-U-0042.pdf',
 'IR-O-U-0136.pdf',
 'IR-O-U-0260.pdf',
 'IR-O-U-0304.pdf',
 'IR-O-U-0463.pdf']

In [18]:
## Dataframe containing placement data of all colleges
final = pd.DataFrame()
failed_colleges = []

In [19]:
k = 0
for file in file_names:
    abc = camelot.read_pdf('2020/failed colleges/'+file, pages="all",flavor='lattice',line_scale=30) # file loation
    # line_space = 30 , this argument helps to read single row tables also. greater the value, higher the chances of detecting smaller tables.
    pdf_file = open('2020/failed colleges/'+file, 'rb')
    read_pdf = PyPDF2.PdfFileReader(pdf_file)
    number_of_pages = read_pdf.getNumPages()
    page = read_pdf.getPage(0)
    page_content = page.extractText()
    text=page_content.split('Name:')
    text = text[1].split('[')[0]
    print(text)
    name = text
    k = k+1
    df = []
    i = 0
    while(i<len(abc)):
        df1 = abc[i].df
            
        if(i==len(abc)-1):
            df.append(df1)
            break
        df2 = abc[i+1].df
        # merging conditions for placement tables
        condition = df1.loc[df1.shape[0]-1][0]=='Academic Year'
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2013-14') and (df2.loc[0][0]=='2014-15') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2014-15') and (df2.loc[0][0]=='2015-16') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2015-16') and (df2.loc[0][0]=='2016-17') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2016-17') and (df2.loc[0][0]=='2017-18') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2017-18') and (df2.loc[0][0]=='2018-19') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2018-19') and (df2.loc[0][0]=='2019-20') )
        
        if (condition):
            x = pd.DataFrame(np.vstack((np.array(df1),np.array(df2))))

            df.append(x)
            i = i+2
        else:
            df.append(df1)
            i =i+1
    x = df[1].copy()
    x.columns = x.loc[0]
    x = x[1:]
    x
    p = []
    for i in range(x.shape[0]):
        programme = x.iloc[i]['(All programs\nof all years)']
        p.append(programme)

    for i in p:
        p_name = i
        j = 2
        y = df[j].copy()
        y.columns = y.loc[0]
        j = j+1
        y = y[1:]
        y['Program_name'] = p_name
        y['Institute'] = name
        try:
            final = final.append(y, ignore_index=True)
        except:
            failed_colleges.append(name+p_name)

 University of Madras
 University of Hyderabad
 Gujarat University
 Kerala University
 Homi Bhabha National Institute
 Madurai Kamaraj University

In [20]:
final.to_csv('/Outputs/placement2020_different_type_of_data.csv',index=False)