In [14]:
from tabula import read_pdf
from tabulate import tabulate
import camelot.io as camelot
import os
import pandas as pd
import numpy as np
import PyPDF2

In [15]:
# Finding all file names in a folder 2021
file_names = []
for i in os.listdir('2021'):
    # print(i)
    if(i!='failed colleges'):
        file_names.append(i)
file_names

['IR-O-C-16604.pdf',
 'IR-O-C-37013.pdf',
 'IR-O-I-1074.pdf',
 'IR-O-I-1075.pdf',
 'IR-O-I-1110.pdf',
 'IR-O-I-1357.pdf',
 'IR-O-I-1441.pdf',
 'IR-O-I-1480.pdf',
 'IR-O-I-1486.pdf',
 'IR-O-N-10.pdf',
 'IR-O-U-0006.pdf',
 'IR-O-U-0013.pdf',
 'IR-O-U-0020.pdf',
 'IR-O-U-0025.pdf',
 'IR-O-U-0027.pdf',
 'IR-O-U-0037.pdf',
 'IR-O-U-0042.pdf',
 'IR-O-U-0052.pdf',
 'IR-O-U-0053.pdf',
 'IR-O-U-0055.pdf',
 'IR-O-U-0056.pdf',
 'IR-O-U-0064.pdf',
 'IR-O-U-0078.pdf',
 'IR-O-U-0098.pdf',
 'IR-O-U-0099.pdf',
 'IR-O-U-0107.pdf',
 'IR-O-U-0108.pdf',
 'IR-O-U-0109.pdf',
 'IR-O-U-0120.pdf',
 'IR-O-U-0136.pdf',
 'IR-O-U-0139.pdf',
 'IR-O-U-0149.pdf',
 'IR-O-U-0184.pdf',
 'IR-O-U-0196.pdf',
 'IR-O-U-0205.pdf',
 'IR-O-U-0220.pdf',
 'IR-O-U-0222.pdf',
 'IR-O-U-0234.pdf',
 'IR-O-U-0235.pdf',
 'IR-O-U-0237.pdf',
 'IR-O-U-0251.pdf',
 'IR-O-U-0253.pdf',
 'IR-O-U-0260.pdf',
 'IR-O-U-0262.pdf',
 'IR-O-U-0272.pdf',
 'IR-O-U-0273.pdf',
 'IR-O-U-0295.pdf',
 'IR-O-U-0304.pdf',
 'IR-O-U-0305.pdf',
 'IR-O-U-0306.pdf',
 'IR-O-U-0308.pdf',
 'IR-O-U-0318.pdf',
 'IR-O-U-0323.pdf',
 'IR-O-U-0329.pdf',
 'IR-O-U-0331.pdf',
 'IR-O-U-0334.pdf',
 'IR-O-U-0341.pdf',
 'IR-O-U-0355.pdf',
 'IR-O-U-0356.pdf',
 'IR-O-U-0357.pdf',
 'IR-O-U-0363.pdf',
 'IR-O-U-0369.pdf',
 'IR-O-U-0374.pdf',
 'IR-O-U-0376.pdf',
 'IR-O-U-0377.pdf',
 'IR-O-U-0378.pdf',
 'IR-O-U-0379.pdf',
 'IR-O-U-0389.pdf',
 'IR-O-U-0391.pdf',
 'IR-O-U-0410.pdf',
 'IR-O-U-0435.pdf',
 'IR-O-U-0436.pdf',
 'IR-O-U-0439.pdf',
 'IR-O-U-0446.pdf',
 'IR-O-U-0447.pdf',
 'IR-O-U-0448.pdf',
 'IR-O-U-0456.pdf',
 'IR-O-U-0458.pdf',
 'IR-O-U-0463.pdf',
 'IR-O-U-0467.pdf',
 'IR-O-U-0473.pdf',
 'IR-O-U-0474.pdf',
 'IR-O-U-0476.pdf',
 'IR-O-U-0490.pdf',
 'IR-O-U-0496.pdf',
 'IR-O-U-0497.pdf',
 'IR-O-U-0500.pdf',
 'IR-O-U-0523.pdf',
 'IR-O-U-0530.pdf',
 'IR-O-U-0560.pdf',
 'IR-O-U-0570.pdf',
 'IR-O-U-0572.pdf',
 'IR-O-U-0573.pdf',
 'IR-O-U-0575.pdf',
 'IR-O-U-0577.pdf',
 'IR-O-U-0584.pdf',
 'IR-O-U-0589.pdf',
 'IR-O-U-0642.pdf',
 'IR-O-U-0701.pdf',
 'IR-O-U-0747.pdf']

In [16]:
## Dataframe containing placement data of all colleges
final = pd.DataFrame()
failed_colleges = [] #whose placement data has different shape than others

In [5]:
k = 0
for file in file_names:
    abc = camelot.read_pdf('2021/'+file, pages="all",flavor='lattice',line_scale=30) # file loation
    # line_space = 30 , this argument helps to read single row tables also. greater the value, higher the chances of detecting smaller tables.
    pdf_file = open('2021/'+file, 'rb')
    read_pdf = PyPDF2.PdfFileReader(pdf_file)
    number_of_pages = read_pdf.getNumPages()
    page = read_pdf.getPage(0)
    page_content = page.extractText()
    text=page_content.split(" ")
        
    name=''
    for i in range(15) :
        if text[16+i][0] == '[' :
            code=text[16+i].split(']')
            _,institute_code=code[0].split('[')
            #print(institute_code)
            break
        name=name+text[16+i]+' '
    print(name,k)
    k = k+1
    df = []
    i = 0
    while(i<len(abc)):
        df1 = abc[i].df
            
        if(i==len(abc)-1):
            df.append(df1)
            break
        df2 = abc[i+1].df
        # merging conditions for placement tables
        condition = df1.loc[df1.shape[0]-1][0]=='Academic Year'
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2013-14') and (df2.loc[0][0]=='2014-15') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2014-15') and (df2.loc[0][0]=='2015-16') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2015-16') and (df2.loc[0][0]=='2016-17') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2016-17') and (df2.loc[0][0]=='2017-18') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2017-18') and (df2.loc[0][0]=='2018-19') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2018-19') and (df2.loc[0][0]=='2019-20') )
        
        if (condition):
            x = pd.DataFrame(np.vstack((np.array(df1),np.array(df2))))

            df.append(x)
            i = i+2
        else:
            df.append(df1)
            i =i+1
    x = df[1].copy()
    x.columns = x.loc[0]
    x = x[1:]
    x
    p = []
    for i in range(x.shape[0]):
        programme = x.iloc[i]['(All programs\nof all years)']
        p.append(programme)

    for i in p:
        p_name = i
        j = 2
        y = df[j].copy()
        y.columns = y.loc[0]
        j = j+1
        y = y[1:]
        y['Program_name'] = p_name
        y['Institute'] = name
        try:
            final = final.append(y, ignore_index=True)
        except:
            failed_colleges.append(name+p_name)

Sri Sivasubramaniya Nadar College of Engineering  0
PSG College of Technology  1
Indian Institute of Technology Delhi  2
Indian Institute of Technology Kanpur  3
Dr. D. Y. Patil Vidyapeeth  4
University of Madras  5
Saveetha Institute of Medical and Technical Sciences  6
Thapar Institute of Engineering and Technology  7
Sri Ramachandra Institute of Higher Education and Research  8
SVKM`s Narsee Monjee Institute of Management Studies  9
Andhra University, Visakhapatnam  10
Indian Institute of Technology Hyderabad  11
Koneru Lakshmaiah Education Foundation University (K L College of Engineering)  12
National Institute of Technology Warangal  13
Osmania University  14
Sri Venkateswara University  15
University of Hyderabad  16
Gauhati University  17
Indian Institute of Technology Guwahati  18
National Institute of Technology Silchar  19
Tezpur University  20
Indian Institute of Technology Patna  21
Panjab University  22
Delhi Technological University  23
Guru Gobind Singh Indraprastha University  24
Jamia Hamdard  25
Jamia Millia Islamia  26
Jawaharlal Nehru University  27
University of Delhi  28
Gujarat University  29
Indian Institute of Technology Gandhinagar  30
Sardar Vallabhbhai National Institute of Technology  31
Indian Institute of Technology Mandi  32
University of Kashmir  33
Indian Institute of Technology (Indian School of Mines)  34
Indian Institute of Science  35
JSS Academy of Higher Education and Research  36
Manipal Academy of Higher Education  37
Mysore University  38
National Institute of Technology Karnataka  39
Calicut University  40
Cochin University of Science and Technology  41
Kerala University  42
Mahatma Gandhi University  43
Indian Institute of Science Education & Research Bhopal  44
Indian Institute of Technology Indore  45
Datta Meghe Institute of Medical Sciences  46
Homi Bhabha National Institute  47
Indian Institute of Science Education & Research Pune  48
Indian Institute of Technology Bombay  49
Institute of Chemical Technology  50
Mumbai University  51
Savitribai Phule Pune University  52
Symbiosis International  53
Tata Institute of Social Sciences  54
Visvesvaraya National Institute of Technology  55
North Eastern Hill University  56
Indian Institute of Technology Bhubaneswar  57
Kalinga Institute of Industrial Technology  58
National Institute of Technology Rourkela  59
Siksha `O` Anusandhan  60
Pondicherry University  61
Dr. B. R. Ambedkar National Institute of Technology  62
Guru Nanak Dev University  63
Indian Institute of Science Education & Research, Mohali  64
Indian Institute of Technology Ropar  65
Lovely Professional University  66
Banasthali Vidyapith  67
Birla Institute of Technology & Science -Pilani  68
Malaviya National Institute of Technology  69
Alagappa University  70
Amrita Vishwa Vidyapeetham  71
Anna University  72
Bharath Institute of Higher Education & Research  73
Bharathiar University  74
Bharathidasan University  75
Indian Institute of Technology Madras  76
Kalasalingam Academy of Research and Higher Education  77
Madurai Kamaraj University  78
National Institute of Technology Tiruchirappalli  79
S.R.M. Institute of Science and Technology  80
Sathyabama Institute of Science and Technology  81
Shanmugha Arts Science Technology & Research Academy  82
Vellore Institute of Technology  83
Aligarh Muslim University  84
Amity University  85
Banaras Hindu University  86
King George`s Medical University  87
Motilal Nehru National Institute of Technology  88
Indian Institute of Technology Roorkee  89
Calcutta University  90
Indian Institute of Science Education & Research Kolkata  91
Indian Institute of Technology Kharagpur  92
Jadavpur University  93
National Institute of Technology Durgapur  94
Indian Institute of Engineering Science and Technology  95
Visva Bharati  96
Shiv Nadar University  97
Indian Institute of Technology (Banaras Hindu University) Varanasi  98
Chandigarh University  99

In [6]:
final

,Academic Year,No. of first year\nstudents intake in the\nyear,No. of first year\nstudents admitted in\nthe year,Academic Year,No. of students\nadmitted through\nLateral entry,Academic Year,No. of students\ngraduating in\nminimum stipulated\ntime,No. of students\nplaced,Median salary of\nplaced\ngraduates(Amount in\nRs.),No. of students\nselected for Higher\nStudies,Program_name,Institute
0,2014-15,819,829,2015-16,101,2017-18,800,633,400000(four lakhs),120,UG [4 Years\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineering
1,2015-16,819,826,2016-17,101,2018-19,787,642,440000(four lakhs forty\nthousand),123,UG [4 Years\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineering
2,2016-17,780,830,2017-18,101,2019-20,703,579,500000(Five lakhs),107,UG [4 Years\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineering
3,2014-15,819,829,2015-16,101,2017-18,800,633,400000(four lakhs),120,PG [2 Year\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineering
4,2015-16,819,826,2016-17,101,2018-19,787,642,440000(four lakhs forty\nthousand),123,PG [2 Year\nProgram(s)],Sri Sivasubramaniya Nadar College of Engineering
...,...,...,...,...,...,...,...,...,...,...,...,...
1201,2016-17,1320,1302,2017-18,0,2018-19,1244,798,218000(Two Lakh\nEighteen Thousand ),446,PG [2 Year\nProgram(s)],Chandigarh University
1202,2017-18,2140,2098,2018-19,0,2019-20,1813,1187,240000(Two Lakh\nForty Thousand),626,PG [2 Year\nProgram(s)],Chandigarh University
1203,2015-16,1290,1273,2016-17,0,2017-18,1192,756,180000(One Lakh\nEighty Thousand),436,PG [6 Year\nProgram(s)],Chandigarh University
1204,2016-17,1320,1302,2017-18,0,2018-19,1244,798,218000(Two Lakh\nEighteen Thousand ),446,PG [6 Year\nProgram(s)],Chandigarh University
1205,2017-18,2140,2098,2018-19,0,2019-20,1813,1187,240000(Two Lakh\nForty Thousand),626,PG [6 Year\nProgram(s)],Chandigarh University

In [7]:
failed_colleges

['University of Madras PG [2 Year\nProgram(s)]',
 'University of Madras PG [3 Year\nProgram(s)]',
 'University of Hyderabad PG [2 Year\nProgram(s)]',
 'University of Hyderabad PG [3 Year\nProgram(s)]',
 'University of Hyderabad PG-Integrated',
 'Gujarat University PG [2 Year\nProgram(s)]',
 'Kerala University PG [1 Year\nProgram(s)]',
 'Kerala University PG [2 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG [1 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG [2 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG [3 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG-Integrated',
 'Madurai Kamaraj University PG [1 Year\nProgram(s)]',
 'Madurai Kamaraj University PG [2 Year\nProgram(s)]',
 'Madurai Kamaraj University PG [3 Year\nProgram(s)]',
 'Madurai Kamaraj University PG-Integrated']

In [8]:
final.to_csv('/Outputs/placement2021.csv', index=False)

In [9]:
failed_colleges

['University of Madras PG [2 Year\nProgram(s)]',
 'University of Madras PG [3 Year\nProgram(s)]',
 'University of Hyderabad PG [2 Year\nProgram(s)]',
 'University of Hyderabad PG [3 Year\nProgram(s)]',
 'University of Hyderabad PG-Integrated',
 'Gujarat University PG [2 Year\nProgram(s)]',
 'Kerala University PG [1 Year\nProgram(s)]',
 'Kerala University PG [2 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG [1 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG [2 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG [3 Year\nProgram(s)]',
 'Homi Bhabha National Institute PG-Integrated',
 'Madurai Kamaraj University PG [1 Year\nProgram(s)]',
 'Madurai Kamaraj University PG [2 Year\nProgram(s)]',
 'Madurai Kamaraj University PG [3 Year\nProgram(s)]',
 'Madurai Kamaraj University PG-Integrated']

# Managing failed colleges, whose dataframe has different shape

In [10]:
# Finding all file names in a folder
file_names = []
for i in os.listdir('2021/failed colleges'):
    # print(i)
    file_names.append(i)
file_names

['IR-O-I-1357.pdf',
 'IR-O-U-0042.pdf',
 'IR-O-U-0136.pdf',
 'IR-O-U-0260.pdf',
 'IR-O-U-0304.pdf',
 'IR-O-U-0463.pdf']

In [11]:
## Dataframe containing placement data of all colleges
final = pd.DataFrame()
failed_colleges = []

In [12]:
k = 0
for file in file_names:
    abc = camelot.read_pdf('2021/failed colleges/'+file, pages="all",flavor='lattice',line_scale=30) # file loation
    # line_space = 30 , this argument helps to read single row tables also. greater the value, higher the chances of detecting smaller tables.
    pdf_file = open('2021/failed colleges/'+file, 'rb')
    read_pdf = PyPDF2.PdfFileReader(pdf_file)
    number_of_pages = read_pdf.getNumPages()
    page = read_pdf.getPage(0)
    page_content = page.extractText()
    text=page_content.split(" ")
        
    name=''
    for i in range(15) :
        if text[16+i][0] == '[' :
            code=text[16+i].split(']')
            _,institute_code=code[0].split('[')
            #print(institute_code)
            break
        name=name+text[16+i]+' '
    print(name,k)
    k = k+1
    df = []
    i = 0
    while(i<len(abc)):
        df1 = abc[i].df
            
        if(i==len(abc)-1):
            df.append(df1)
            break
        df2 = abc[i+1].df
        # merging conditions for placement tables
        condition = df1.loc[df1.shape[0]-1][0]=='Academic Year'
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2013-14') and (df2.loc[0][0]=='2014-15') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2014-15') and (df2.loc[0][0]=='2015-16') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2015-16') and (df2.loc[0][0]=='2016-17') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2016-17') and (df2.loc[0][0]=='2017-18') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2017-18') and (df2.loc[0][0]=='2018-19') )
        condition = condition | ((df1.loc[df1.shape[0]-1][0]=='2018-19') and (df2.loc[0][0]=='2019-20') )
        
        if (condition):
            x = pd.DataFrame(np.vstack((np.array(df1),np.array(df2))))

            df.append(x)
            i = i+2
        else:
            df.append(df1)
            i =i+1
    x = df[1].copy()
    x.columns = x.loc[0]
    x = x[1:]
    x
    p = []
    for i in range(x.shape[0]):
        programme = x.iloc[i]['(All programs\nof all years)']
        p.append(programme)

    for i in p:
        p_name = i
        j = 2
        y = df[j].copy()
        y.columns = y.loc[0]
        j = j+1
        y = y[1:]
        y['Program_name'] = p_name
        y['Institute'] = name
        try:
            final = final.append(y, ignore_index=True)
        except:
            failed_colleges.append(name+p_name)

University of Madras  0
University of Hyderabad  1
Gujarat University  2
Kerala University  3
Homi Bhabha National Institute  4
Madurai Kamaraj University  5

In [13]:
final.to_csv('/Outputs/placement2021_different_type_of_data.csv',index=False)